/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 

 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { ... }

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991px) { 

}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) { ... }

/* Extra large devices (large desktops)
 No media query since the extra-large breakpoint has no upper bound on its width */

@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Saira");

 body {
  background-image: url(../assets/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family:'Saira', 'Montserrat', sans-serif;
}

audio {
  display:none;
}

#start {
  display:block;
  text-align:center;
  position:relative;
  width:20rem;
  margin:0 auto;
  font-size:1.8rem;
  color: rgb(240,240,200);
  padding-top:0.6rem;  
  border: 3px solid #F3A712;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

#start:hover {
  cursor:pointer;
}

.popups {
  display: block;
  width: 20rem;
  text-align: center;
  position: relative;
  margin: 0.4rem auto;
  font-size: 1.8rem;
  color: #ffffff;
  display: none; 
  border: 4px solid #F3A712;
  border-radius: 3rem;
  word-wrap: break-word;
}

#fail span {
  font-size:1.4rem;
}

#fail:hover {
  cursor:pointer;
}

#keyboard {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 2rem 2rem 2rem 0;
  padding-left: 2rem;
}

.keys {
  position: relative;
  display: inline-block;
  width: 18%;
  height: 8rem;
  border: 1.6rem solid;
  border-color: rgba(29, 140, 163, 0.8);
  border-bottom: none;
  border-radius: 3rem;
  margin: 0.4rem;
  margin-top: 2rem;
}

#count {
  display: inline-block;
  width: 10px;
  height: 1rem;
  text-align: center;
  position: relative;
  float: left;
  font-size: 1.8rem;
  color: rgb(240,240,200);
  padding-top: 1rem;
  margin-bottom: 4rem;
}

#infoScreen {
  background-color: rgba(10,10,10,0);
  border: 3px solid #F3A712;
  border-radius: 2rem;
  overflow: scroll;
  height: 12rem;
  color: #d3d3d3;
  word-wrap: break-word;
  font-size: 1.2rem;
}

#infoTitle {
  text-align: center;
  padding-top: 0.3rem;
}




