/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
  .keys {
    width: 12%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { ... }

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991px) { ... }
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) { ... }

/* Extra large devices (large desktops)
 No media query since the extra-large breakpoint has no upper bound on its width */

@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Saira");

body {
  background-image: url(../assets/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family:'Saira', 'Montserrat', sans-serif;
}

audio {
  display:none;
}

#start {
  display:block;
  text-align:center;
  position:relative;
  width:20rem;
  margin:0 auto;
  font-size:1.8rem;
  color: rgb(240,240,200);
  padding-top:0.6rem;  
  border: 3px solid #F3A712;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

#start:hover {
  cursor:pointer;
}

.popups {
  display: block;
  width: 20rem;
  text-align: center;
  position: relative;
  margin: 0.4rem auto;
  font-size: 1.8rem;
  color: #ffffff;
  display: none; 
  border: 4px solid #F3A712;
  border-radius: 3rem;
  word-wrap: break-word;
}

#fail span {
  font-size:1.4rem;
}

#fail:hover {
  cursor:pointer;
}

#keyboard {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 2rem 0;
  padding-left: 2rem;
}

.keys {
  position: relative;
  display: inline-block;
  width: 18%;
  height: 8rem;
  border: 1.6rem solid;
  border-color: rgba(29, 140, 163, 0.8);
  border-bottom: none;
  border-radius: 3rem;
  margin: 0.4rem;
  margin-top: 2rem;
  background-color: rgba(30, 140, 163, 0.6);
}

#count {
  display: inline-block;
  width: 10px;
  height: 1rem;
  text-align: center;
  position: relative;
  float: left;
  font-size: 1.8rem;
  color: rgb(240,240,200);
  padding-top: 1rem;
  margin-bottom: 4rem;
}

#showCurrentPlayer {
  display: inline-block;
  height: 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: rgb(240,240,200);
  margin-bottom: 3rem;
}

#infoScreen {
  background-color: rgba(10,10,10,0);
  border: 3px solid #F3A712;
  border-radius: 2rem;
  overflow: scroll;
  height: 12rem;
  color: #d3d3d3;
  word-wrap: break-word;
  font-size: 1.2rem;
}

#infoTitle {
  text-align: center;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem
}

#wait {
  display: inline-block;
  height: 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: rgb(240,240,200);
}

/*----------------------Arrow Animation----------------------*/

.center-con {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 3px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #fff;
    transition: 0.4s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}